@font-face{
  font-family:ipix;
  src:url("/font/ipix.ttf");
}
.ipix{
  font-family: ipix, serif;
}

@font-face{
  font-family:minecraft;
  src:url("/font/minecraft.ttf");
}
.mc{
  font-family:minecraft, serif;
}

@font-face{
    font-family:li;
    src:url("/font/baoli.ttc");
}
.li{
    font-family:li, serif;
    font-size: 150%;
}

@font-face{
    font-family:mono;
    src:url("/font/Mono.ttf");
}
.code{
    font-family:mono, serif;
}

pre{
    background-color: #333333;
    border-radius: 15px;
}
code{
    font-family:mono, serif;
    color: white;
}

body{
    background-color: white;
    margin: 0;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}